@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* text-border-color utility: text-border-{borderColor} */
@utility text-border-* {
  --text-border-color: --value(--border-color-*);

  text-shadow:
    0 0 var(--text-border-size, 1px) var(--text-border-color);
}

/* text-border-size utility: text-border-size-{borderWidth} or arbitrary */
@utility text-border-size-* {
  --text-border-size: --value(--border-width-*, [length]);
}

/* Transparent “color” if you want a no-border variant */
.text-border-transparent {
  --text-border-color: transparent;
}

html {
  --scrollBar: #23004d;
  --thumb: #fcc200;
  --darkThumb: rgb(52 211 153 / 1);
  --darkScrollBar: #131313;
}

body::-webkit-scrollbar {
  width: 12px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb) var(--scrollBar);
}

-webkit-scrollbar {
  width: 12px;
}

-webkit-scrollbar-corner {
  background: var(--scrollBar);
}

body::-webkit-scrollbar-corner {
  background: var(--scrollBar);
}

-webkit-scrollbar-track {
  background: var(--scrollBar);
}

body::-webkit-scrollbar-track {
  background: var(--scrollBar);
}

-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollBar);
}

body::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollBar);
}

/* (.dark .dark\:hover\:text-emerald-400:hover) */

.dark body::-webkit-scrollbar {
  width: 12px;
}

.dark body {
  scrollbar-width: thin;
  scrollbar-color: var(--darkThumb) var(--darkScrollBar);
}

.dark body::-webkit-scrollbar-track {
  background: var(--darkScrollBar);
}

.dark body::-webkit-scrollbar-thumb {
  background: var(--darkThumb);
  border-radius: 6px;
  border: 3px solid var(--darkScrollBar);
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}